<div class="table-responsive">
	<table id="userList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Username</th>
			<th scope="col">First</th>
			<th scope="col">Last</th>
			<th scope="col">E-mail</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user: ${userList}">
			<th th:text="${user.id}"></th>
			<td th:text="${user.username}"></td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.email}"></td>
			<td>
				<a href="#" th:href="@{'/editUser/' + ${user.id}}"><i class="fas fa-edit"></i></a> | 
				<a href="#" th:onclick="'deleteUser(' + ${user.id} + ')'"><i class="fas fa-user-times"></i></a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error Message</div>
<script>
	function deleteUser(id) {
		if(confirm("Do you want to delete the user?")) {
			window.location = "/deleteUser/" + id;
		}
	}
</script>